<ion-view view-title="Login" hide-back-button="true">

  <ion-content class="padding-top">
    <div class="wrap">
        <img src="img/aquitem.jpg">
        <img src="img/logo.png">
    </div>

    <div class="wrap">
      <div class="flip-container" id='flippr'>
        <div class="flipper">
          <div class="front"></div>
          <div class="back"></div>
        </div>
      </div>

  <h1 class="text" id="welcome">Bem Vindos. <span></span></h1>

  <form method='post' id="theForm">

    <div class='login'>
      <a href="#"><i class="icon-cog"></i>Conecte pelo Facebook</a><br>
      <button class="button button-positive icon ion-social-facebook" ng-click="login('facebook')"></button>
    </div><!-- /login -->
  </form>
</div><!-- /wrap -->
<div class="wrap">
<img src="img/novo.jpg">
</div>
</ion-content>
</ion-view>
