<ion-view view-title="Padarias">
  <ion-nav-buttons side="secondary">
<button class="button button-icon ion-plus-circled" ng-click="agregar()"></button>
    </ion-nav-buttons>
  <ion-content class="padding-top">

      <ion-item ng-repeat="panificadora in padaria">


        <p>
          <div class="list">

            <a class="item item-avatar">
              <img src="img/pao.png">
              <h2>{{panificadora.Nome}}</h2>
              <p>{{panificadora.Endereco}} | Rua: {{panificadora.Fone}}
</p>
            </a>

        </p>
      </div>




</ion-view>
